h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #282c34;
}

a:link {
  color: #61dafb;
}

a:visited {
  color: #61dafb;
}

a:hover {
  color: #61dafb;
}

a:active {
  color: #fff;
}

.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem 3rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 5rem;
}

.footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 3rem;
}

.headshot {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.greeting {
  margin: 40px 0 40px 0;
}