h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #282c34;
}

.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem 3rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}

.footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem 3rem;
}